Pods
Diplom_01.01.xcodeproj/project.xcworkspace/xcuserdata/marukosita.xcuserdatad/UserInterfaceState.xcuserstate
Diplom_01.01.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Diplom_01.01.xcodeproj/xcuserdata/marukosita.xcuserdatad/xcschemes/xcschememanagement.plist
Diplom_01.01.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Diplom_01.01.xcworkspace/xcuserdata/marukosita.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Diplom_01.01.xcworkspace/xcuserdata/marukosita.xcuserdatad/UserInterfaceState.xcuserstate
